@keyframes preview {
    0% {
    	background: transparent url('../img/branchClippers.jpg') left top no-repeat;
		background-size: cover;
		background-position: center center;
	}

    30% {
    	background: transparent url('../img/branchClippers.jpg') left top no-repeat;
		background-size: cover;
		background-position: center center;
	}

    33% {
    	background: transparent url('../img/cirqueHorse.jpg') left top no-repeat;
		background-size: cover;
		background-position: center center;
	}

    63% {
    	background: transparent url('../img/cirqueHorse.jpg') left top no-repeat;
		background-size: cover;
		background-position: center center;
	}

    66% {
    	background: transparent url('../img/ascend.jpg') left top no-repeat;
		background-size: cover;
		background-position: center center;
	}

    97% {
    	background: transparent url('../img/ascend.jpg') left top no-repeat;
		background-size: cover;
		background-position: center center;
	}

    100% {
    	background: transparent url('../img/branchClippers.jpg') left top no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
	