// .lightBox{
// 	&__item{
// 		display: none;
// 		z-index: 100;
// 		margin: auto;
// 		background: rgba($mainColor, .7);
// 		border: 1px solid red;
// 	}

// 	&__pic{
// 		display: block;
// 		margin: 0 auto;
// 	}

// 	&__item:target{
// 		outline: none;
// 		display: block;
// 	}
// }

.lightBox{
	display: none;
	z-index: 100;
	margin: auto;
	width: 100%;
	height: 100%;
	background: rgba($mainColor, .7);

	position: fixed;
	top: 0;
	left: 0;

	&__pic{
		display: block;
		margin: 0 auto;
		padding: 1rem;
		border: .5rem solid rgba($linkColor, .7);
		background: rgba($mainColor, .7);
	}

	&:target{
		outline: none;
		display: block;
	}

	&:target &__pic{
		transform: scale(1.4) translateY(20vh);
	}
}