.mainNav{
	min-width: 85rem;
	// max-width: 104.6rem;
	width: 100%;
	align-self: center;

	&__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 10rem;
		margin-bottom: 5rem;
	}

	&__item{
		min-width: 20rem;
		height: 8rem;
		text-align: center;
		background: rgba($linkColor, .3);// au hover mettre un fond avec un croix (diagonales) (SVG ?)
		border: 1px solid $linkColor;
		box-shadow: none;
		transition: min-width .25s ease-in-out,
					height .25s ease-in-out,
					box-shadow .25s ease-in-out;

		&:hover{
			min-width: 23rem;
			height: 10rem;
			box-shadow: 0 0 .5rem $shadow;
		}

		&:hover .mainNav__link{
			padding-top: 4.2rem;
			padding-bottom: 4.2rem;
		}
	}

	&__link{
		display: block;
		width: 100%;
		padding-top: 3.2rem;
		padding-bottom: 3.2rem;
		font-size: 1.6rem;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: .05rem;
		color: $titleColor;
		transition: padding-top .25s ease-in-out,
					padding-bottom .25s ease-in-out;
	}
}