.mainTitle{
	text-align: center;
	font-family: $titleFonts;
	font-size: 7rem;
	letter-spacing: 0.3rem;
	margin-top: 2rem;
	margin-bottom: 5rem;
	padding-bottom: 2rem;
	border-bottom: .2rem solid $titleColor;

	&__link{
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: $titleColor;
	}

	&__subtitle{
		font-size: .5em;
		letter-spacing: 0.2rem;
		margin-top: 1rem;
		text-transform: uppercase;
	}
}