.utils{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 5rem;
	font-size: 2rem;
	font-weight: 200;

	&__title{
		width: 50%;
		font-size: 4rem;
		margin-bottom: 5rem;
		padding-bottom: 2rem;
		border-bottom: .1rem solid $titleColor;
	}

	&__content{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__item{
		margin-bottom: 1rem;
	}

	&__strong{
		font-weight: 400;
	}
}