/* SETTINGS */
@font-face {
  font-family: 'condimentregular';
  src: url("../fonts/condiment-regular-webfont.woff2") format("woff2"), url("../fonts/condiment-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* TOOLS */
@-webkit-keyframes preview {
  0% {
    background: transparent url("../img/branchClippers.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  30% {
    background: transparent url("../img/branchClippers.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  33% {
    background: transparent url("../img/cirqueHorse.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  63% {
    background: transparent url("../img/cirqueHorse.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  66% {
    background: transparent url("../img/ascend.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  97% {
    background: transparent url("../img/ascend.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  100% {
    background: transparent url("../img/branchClippers.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; } }
@keyframes preview {
  0% {
    background: transparent url("../img/branchClippers.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  30% {
    background: transparent url("../img/branchClippers.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  33% {
    background: transparent url("../img/cirqueHorse.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  63% {
    background: transparent url("../img/cirqueHorse.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  66% {
    background: transparent url("../img/ascend.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  97% {
    background: transparent url("../img/ascend.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; }
  100% {
    background: transparent url("../img/branchClippers.jpg") left top no-repeat;
    background-size: cover;
    background-position: center center; } }

/* GENERICS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

.hidden {
  font: 0px/0 a;
  text-shadow: none;
  color: transparent; }

/* BASES */
/* OBJECTS */
body {
  background: #FBFBFB;
  color: #111;
  font-family: "Futura LT", Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh; }
  body::-webkit-scrollbar-track {
    background-color: #FBFBFB; }
  body::-webkit-scrollbar {
    width: 1rem; }
  body::-webkit-scrollbar-thumb {
    background-color: #8E9C64; }

.preview {
  position: fixed;
  min-width: 40%;
  min-height: 100vh;
  border-right: 0.1rem solid rgba(151, 103, 88, 0.5);
  -webkit-animation-name: preview;
          animation-name: preview;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background-size: cover;
  background-position: 98% center; }

.mainContent, .mainContentGalery {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mainContent {
  max-width: 60%;
  margin-left: 40%; }

.mainTitle {
  text-align: center;
  font-family: "condimentregular", serif;
  font-size: 7rem;
  letter-spacing: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #976758; }
  .mainTitle__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    color: #976758; }
  .mainTitle__subtitle {
    font-size: .5em;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    text-transform: uppercase; }

.mainIntro {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  line-height: 1.25; }
  .mainIntro__picture {
    max-width: 20rem;
    height: auto; }
  .mainIntro__text {
    max-width: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: 200; }
  .mainIntro__strong, .mainIntro__date {
    font-weight: 400; }

.mainNav {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
  .mainNav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
    margin-bottom: 5rem; }
  .mainNav__item {
    min-width: 18rem;
    height: 8rem;
    text-align: center;
    border-left: 0.1rem solid #8E9C64;
    border-right: 0.1rem solid #8E9C64;
    transition: border .25s ease-in-out, background .25s ease-in-out; }
    .mainNav__item:hover {
      background: rgba(142, 156, 100, 0.2); }
  .mainNav__link {
    display: block;
    width: 100%;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    font-size: 2.2rem;
    font-family: "condimentregular", serif;
    letter-spacing: .2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #8E9C64;
    transition: padding-top .25s ease-in-out, padding-bottom .25s ease-in-out; }

.utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5rem;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 200; }
  .utils__title {
    width: 50%;
    font-size: 4.5rem;
    font-family: "condimentregular", serif;
    letter-spacing: .1rem;
    color: #976758;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #976758; }
  .utils__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%; }
  .utils .subList {
    position: relative;
    top: -3.1rem;
    left: 22%; }
  .utils__item {
    margin-bottom: 1rem; }
  .utils__strong {
    font-weight: 400;
    color: #976758; }
  .utils__em {
    font-weight: 400;
    color: #111; }
  .utils__maps {
    -ms-flex-item-align: end;
        align-self: flex-end; }

.lightBox {
  display: none;
  z-index: 100;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(251, 251, 251, 0.7);
  position: fixed;
  top: 0;
  left: 0; }
  .lightBox__pic {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5rem solid rgba(142, 156, 100, 0.7);
    background: rgba(251, 251, 251, 0.7); }
  .lightBox:target {
    outline: none;
    display: block; }
  .lightBox:target .lightBox__pic {
    -webkit-transform: scale(1.4) translateY(20vh);
            transform: scale(1.4) translateY(20vh); }

.footer {
  width: 100%;
  padding: 2.5rem 0;
  border-top: 0.2rem solid #976758;
  border-bottom: 0.2rem solid #976758;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5; }
  .footer__link {
    text-decoration: none;
    color: #8E9C64; }

.contact {
  font-size: 2.5rem;
  margin-bottom: 5rem; }
  .contact__title {
    display: block;
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4.5rem;
    font-family: "condimentregular", serif;
    letter-spacing: .1rem;
    color: #976758; }
  .contact__text {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 5rem; }
  .contact__form {
    width: 100%; }
  .contact__champs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 2rem; }
  .contact__label {
    width: 12rem;
    height: 2.5rem;
    background: rgba(142, 156, 100, 0.7);
    padding: .7rem;
    padding-right: 2rem;
    border-right: 0.5rem solid rgba(142, 156, 100, 0.8);
    text-align: right;
    color: white; }
  .contact__input {
    width: 40rem;
    height: 2.5rem;
    font-size: 2rem;
    padding: .7rem;
    margin-left: 0;
    border: none;
    background: rgba(142, 156, 100, 0.2); }
  .contact__textarea {
    width: 40rem;
    height: 30rem;
    font-family: "Futura LT", Verdana, sans-serif;
    font-size: 2rem;
    padding: .7rem;
    border: none;
    background: rgba(142, 156, 100, 0.2); }
  .contact__input:focus, .contact__textarea:focus {
    outline: none;
    background: rgba(142, 156, 100, 0.1); }
  .contact__submit {
    display: block;
    margin: 0 auto;
    padding: 0;
    background: rgba(142, 156, 100, 0.7);
    width: 56.6rem;
    height: 6rem;
    font-family: "Futura LT", Verdana, sans-serif;
    font-size: 2rem;
    border: none;
    border-radius: none;
    box-shadow: none;
    transition: box-shadow .25s ease-in-out; }
  .contact__submit:hover {
    box-shadow: 0 0 0.5rem #555; }
  .contact__submit:hover, .contact__label:hover {
    cursor: pointer; }

.bio {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 5rem; }
  .bio__title {
    display: block;
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    text-align: center;
    font-family: "condimentregular", serif;
    font-size: 4.5rem;
    letter-spacing: .1rem;
    color: #976758; }
  .bio__content {
    -webkit-columns: 2 30rem;
            columns: 2 30rem;
    -webkit-column-gap: 5rem;
            column-gap: 5rem; }
  .bio__paragraph {
    margin-bottom: 2.6rem; }
  .bio__strong {
    font-weight: 400; }
  .bio__em {
    font-style: italic; }
  .bio__profil {
    width: 40rem;
    height: 50rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    overflow: hidden; }
  .bio__picture {
    min-width: 30rem;
    min-height: auto; }

.galery {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 5rem; }
  .galery__title {
    display: block;
    width: 50rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4.5rem;
    font-family: "condimentregular", serif;
    letter-spacing: .1rem;
    color: #976758; }
  .galery__pics {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .galery__picDiv {
    max-width: 25rem;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .galery__pic {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    border: 0.3rem solid rgba(142, 156, 100, 0.3); }

/* COMPONENTS */
/* TRUMPS */
